@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

:root [data-theme='vintage'] {
	--theme-font-family-heading: 'RobotoSlab', sans-serif;
}

/* vintage theme */
@font-face {
	font-family: 'RobotoSlab';
	src: url('/fonts/RobotoSlab-Regular.ttf');
}

/* modern theme */
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}
